
h1{
    color:blue;
}
img{
    width: 400px;
}
#thirDiv{
    background-color: crimson;
    width: 500px;
    height: 600px;
    padding: 50px;
    border: 10px solid blueviolet;
}
#spanId{
    font-size: 28px;
    margin: 50px;
}
